[submodule "Resources/GIT-FHIR"]
	path = Resources/GIT-FHIR
	url = https://github.com/i3l/GT-FHIR
[submodule "Resources/SMART-on-FHIR"]
	path = Resources/SMART-client-py
	url = https://github.com/smart-on-fhir/client-py
[submodule "Resources/SMART-client-js"]
	path = Resources/SMART-client-js
	url = https://github.com/smart-on-fhir/client-js.git
