[submodule "Resources/GIT-FHIR"]
	path = Resources/GIT-FHIR
	url = https://github.com/i3l/GT-FHIR
[submodule "Resources/SMART-on-FHIR"]
	path = Resources/SMART-on-FHIR
	url = https://github.com/smart-on-fhir/client-py
