/*
 * app.css
 *   Ryan Hoffman, 2016
 * 
 * Main stylesheet for death app.
 * 
 */

/*** HTML styling ***/

body {
  background-color: #ECECEC;
}

h2 {
  /*padding-left: 0.5em;*/
}

.right {
  float: right;
  /* clear: both; */
}

.small {
  font-size: 80%;
}

.layout-row {
  min-height: 2em;
  max-width: 1050px;
  margin: 1em auto;
  display: block;
}

#timeline-row {
  border: 1px solid gray;
}

.cod-row {
  min-height: 1.5em;
  width: 65%;
}

#cod-comments-contain {
  width: 30%;
  height: 7em;
}

#cod-comments-contain p {
  height: 15%;
  margin: 0;
  text-align: center;
}

.cod-field {
  width: 75%;
}

.cod-time {
  width: 20%;
}

#cod-comments {
  width: 100%;
  height: 85%;
}

#header-row {
  height: 60px;
}

#back-button {
  position: relative;
  right: 0;
  top: 10;
}

div.textbox {
  display: inline-block;
  overflow: auto;
  min-width: 100px;
  height: 100px;
}

#fhir-pt-detail {
  width: 30%;
}

#fhir-pt-history {
  width: 65%;
  background-color: white;
}

.nav {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.nav:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.textbox p {
  margin: 0 0.5em;
}

p.head {
  text-align: center;
  padding-bottom: 0.5em;
  text-decoration: underline;
  margin-top: 0.5em;
}

/*** SVG styling ***/

svg.timeline {
  width: 100%;
  padding: 0;
  margin: 0;
  pointer-events: all;
  /* height: set by js, don't style this; */
}

svg .arrow {
  stroke: black;
  stroke-width: 3;
}

svg .arrow-poly {
  fill: black;
}

svg #timeline-proposed {
  stroke: orange;
  stroke-width: 1.5;
  fill: none;
}

svg .prop-marker {
  fill: orange;
}

svg .condition-marker {
  fill: red;
  stroke-width: 1.5;
  stroke: none;
}

svg .condition-marker circle {
  fill: none;
}
svg .condition-marker.active circle {
  fill: red;
}

svg .out-of-range {
  display: none !important;
}

svg .condition-marker:hover circle {
  stroke: red;
}

/* svg .condition-marker rect {
  height: 15;
  width: 4;
} */

svg .time-marker {
  fill: black;
  stroke: none;
  text-anchor: middle;
  font-size: 11;
}


/* borrowed heavily from d3-tip documentation */
.tooltip {
  line-height: 1;
  /*font-weight: bold;*/
  font-size: 12px;
  padding: 6px;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  border: 1px solid black;
  border-radius: 2px;
}

.tooltip.conditions {
  border-color: red;
  
}

.tooltip.proposed {
  border-color: orange;
}

.tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  position: absolute;
  pointer-events: none;
  text-align: center;
}

/* Northward tooltips */
.tooltip.conditions:after {
  content: "\25BC";
  top: 100%;
  left: 0;
  color: red;
}

/* Southward tooltips */
.tooltip.proposed:after {
  content: "\25B2";
  top: -8px;
  left: 0;
  color: orange;
}

/*** SVG button controls ***/

svg .svg-button rect {
  fill: gray;
  width: 10;
  height: 10;
}

svg .svg-button path {
  stroke: white;
}


/*** form page styles ***/

div.landing-form {
  min-width: 320px;
  padding: 1em;
  width: 30;
  margin: 10% auto;
  border: 2px solid gray;
  border-radius: 20px;
}

span#fhir-server {
  font-style: italic;
}


/*** UMLS Login Window Popup ***/

div#fade {
  opacity:0.8;
  filter: alpha(opacity=80); /* IE <9 tweak */
  background-color: #ECECEC; 
  width: 100%; 
  height: 100%; 
  z-index: 98;
  top: 0; 
  left: 0; 
  position: fixed;
  visibility: hidden;
}

div.popover {
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: #ECECEC;
  position: absolute;
  top: 25%;
  margin: 0 40%; /* tb lr */
  width: 20%;
  z-index: 99;
  border: 2px solid black;
  border-radius: 10px;
  visibility: hidden;
}

.popover p {
  width: 80%;
  margin: 5px 10%;
  text-align: center;
}

.icd10 {
  color: blue;
}

/*** dev-only (AKA "ugly") styling ***/
div {
  /*border: 2px solid gray;*/
}






















